/*@import url('https://fonts.googleapis.com/css2?
family=Agbalumo&family=Noto+Sans:wght@100&family=Poiret+One&family=Spirax&display=swap');
*/
body {
  background-color: rgb(2, 119, 2);
  
 /* font-family: Poiret One;*/
   
}

nav { /*meny*/
  width: 100vw;
  padding: 2vh 0; /*lite luft uppe och nere, ingen vänster och höger*/
  background-color: rgb(0,0,0);
  display: flex; /*centrerad*/
  justify-content: center;
}

nav>a { /*meny*/
  font-family: Spirax;
  margin: 0 4vw; /*marginal sidor, ingen uppe och nere*/
  font-size: 3.5vh; /*textstorlek*/
  color: white;
  text-decoration: none; /*tar bort understryckning av a link*/
}

h1 { /*rubriktext*/
  font-family: Spirax;
  font-size: 5vh; /*storlek rubrik*/
  color: black;
  text-align: center; /*centrerad*/

}

section {
  /*background-size: cover;*/
  /*background-position: center;*/
  /*padding-left: 10vw;
  padding-right: 10vw;*/
  margin-top: 5vh;
  margin-bottom: 30vh;
  /*height: 35vh; /*höjd på rubrik 100vh*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
 /* height: 65vh;*/

}


#gameboard {
  width: 300px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-wrap: wrap; /*rutorna överlappar*/
  border: solid 1px black;
  
}


#playerMenu {   
  background-color: rgb(243, 174, 230);
   /* padding-left: 30vw;
    padding-right: 57vw;*/
    width: 200px;
    height: 50px;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;*/
    border:solid black 2px;
  
}

.square {
  width: 100px;
  height: 100px;
  background-color: white;
  border: solid 2px black;
  box-sizing:border-box;

}

/*p {
  font-size: 2.5vh;
  padding: 20px;
  width: 80%;
  color: white;
  background-color: rgba(138, 0, 0, 0.8);
  text-align: center;
}*/

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 15px solid red;
  box-sizing: border-box;

}

.line {
  left: 33%;
  width: 33%;
  height: 100%;
  position: relative; /*strecket blir i mitten av elementet*/
  background-color: black;
  box-sizing: border-box;

}


